/* 
Основной тёмный фон	#363062
Вторичный фон / заголовки	#4D4C7D
Акценты / тени / подчеркивания	#827397
Мягкие светлые элементы / фон карт	#D8B9C3 
*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  background-color: #D8B9C3;
  color: #363062;
  font-weight: normal;
  letter-spacing: 0.1rem;
  position: relative;
}

.main {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.article {
  width: 100%;
  max-width: 160rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}


/* logo */
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  
  position: absolute;
  left: 1rem;
  top: 1rem;
  min-height: 6vh;
  height: 7.6rem;

  gap: 1rem;
  font-weight: 700;
  color: #363062;

  z-index: 2;
}

.logo img {
  max-height: clamp(4rem, 6vh, 8rem);
}

.logo, .header {
  min-height: clamp(4rem, 6vh, 8rem);
  border-radius: 6rem;
  padding: clamp(0.5rem, 1rem, 2rem) clamp(1rem, 2rem, 4rem);
  background-color: hsla(341, 28%, 79%, 0.5);
  transition: background-color .5s;
}

.header:hover {
  background-color: hsla(341, 28%, 79%, 1);
}


/* Header */
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 6vh;

  
  border-radius: 5rem;
  left: 50%;
  top: 1rem;
  transform: translate3d(-50%, 0, 0);
  z-index: 2;
}



.header-nav ul{
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: 4rem;
}

.header-nav a {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: #363062;

  position: relative;
  transition: color 0.3s;
}

.header-nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #827397;
  transition: width .5s;
  left: 0;
  bottom: -4px;
}

.header-nav a:hover {
  color: #4d4c7d;
}

.header-nav a:hover::after {
  width: 100%;
}

/* Burger button */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease;
}

.burger span {
  display: block;
  height: 0.3rem;
  width: 3rem;
  background: #D8B9C3;
  border-radius: 10px;
}

/* Home */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-image: url(/wheelson_story/assets/video/car_shot.png); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 48, 98, 0.5);
  z-index: 2;
}

.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
  color: #D8B9C3;
  padding: clamp(10vh, 30vh, 40vh) 2rem 2rem;

}

.home .home-title {
  font-family: 'Major Mono Display', monospace;
  font-size: clamp(3rem, 6vw, 6rem);
  margin-bottom: clamp(2rem, 10rem, 20rem);
}

.home .home-text {
  font-size: clamp(1.6rem, 2.4vw, 3rem);
  font-weight: 400;
  max-width: clamp(40rem, 85rem, 100%);
  margin: 0 auto;
}


/*  Button */

.cta-button {
  display: inline-block;
  border: 0;
  font-family: 'Manrope', sans-serif;
  font-size: clamp(1.4rem, 2vw, 2rem);
  color: #4d4c7d;
  font-weight: 600;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  background-color: #d8b9c3;
  padding: 1rem clamp(1.6rem, 2vw, 2.4rem);
  border-radius: 6rem;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 2rem  #D8B9C3;

  margin-top: auto;
  margin-bottom: auto;
}

.cta-button:hover {
  background-color: #827397;
  box-shadow: 0 0 5rem  #827397;
  color: #D8B9C3;
  transform: scale(1.05);
}

/* About */
.about {
  display: flex;
  width: 100%;
  padding: 3vh 2rem;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.about-title {
  /* min-width: clamp(33.33333%, 40%, 50%); */
  padding: 1rem 2rem;
  margin: 0 auto;
  font-family: 'Major Mono Display', monospace;
  font-size: clamp(2vw, 4vw, 4rem);
  background-color: #D8B9C3;
  color: #363062;
  box-shadow: 0 0 3rem  #363062;
  border-radius: 6rem;
  text-align: center; 
  align-items: center;
}

.about-content {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-color: #363062;
  border-radius: 6rem;
  box-shadow: 0 0 5rem  #363062;
  padding: clamp(0.5rem, 2rem, 4rem);
  /* z-index: -1; */
}

.about-content_img {
  flex: 1 1 300px;
  max-width: 50%;
  object-fit: cover;
  border-radius: 6rem;
  box-shadow: 0 0 2rem #827397;
}

.about-content_text {
  flex: 1 1;
  margin: 0 auto;
  max-width: 50ch;
  color: #D8B9C3;
  font-size: clamp(1.6rem, 2vh, 2.2rem);
  line-height: 1.6;
  padding: 1rem;
}





/* Media */
@media (max-width: 980px) {

  /* Logo */
  .logo {
    justify-content: center;
    padding: 0;
    width: 7.6rem;
    height: 7.6rem;
  }

  .logo span {
    display: none;
  }
  
  
}



@media (max-width: 768px) {

  /* Logo */
  .logo {
    width: 6rem;
    height: 6rem;
  }
  
  
  /* Header */
  .header-nav ul {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    text-align: center;
    min-width: 50vw;
    background-color: hsla(341, 28%, 79%, 0.95);
    padding: 2rem;
    gap: 2rem;
    border-radius: 2rem;
    pointer-events: none;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
    opacity: 0;
    /* display: none; */
  }

  .header:hover {
    background: transparent;
  }
  
  .header-nav.active ul {
    /* display: flex; */
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) scaleY(1);
  }

  .burger {
    display: flex;
    position: absolute;
    right: -1.5rem;
    top: 1.5rem;
  }

  .burger.active {
    rotate: 90deg;
  }

  .header {
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: transparent;
  }
  
  /* Home */
  .home .home-text {
    max-width: 90%;
  }

  /* About */
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-content_img {
    width: 90%;
    max-width: 40rem;
    height: auto;
    margin-bottom: 2rem;
  }

}
